<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}TAKE A BITE{{else}}PASS{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
