<li class="list-group-item burger-list"> 
	{{burger_name}}

	{{!-- <button class="change-eaten" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}DELETE
		{{else}}EAT BURGER{{/if}}
	</button> --}}
	{{#if devoured}}
	<button type="button" class="btn btn-danger delete-burger" data-id="{{this.id}}">DELETE</button>
	{{else}}
	<button type="button" class="btn btn-success change-eaten" data-id="{{this.id}}">EAT</button>
	{{/if}}

</li>
